<section class="characters-list">
  <div class="page-header">
    <h1 class="page-header__title">Início</h1>
    <div class="characters-list__form">
      <div class="input">
        <input
          [formControl]="searchControl"
          placeholder="Ex: Annie"
          type="text"
        />
        <label>Pesquisar</label>
      </div>
    </div>
  </div>
  @if (characters?.length) {
  <div class="characters-list__content">
    <div class="characters-list__content-list">
      @for (character of characters; track $index) {
      <rickmorty-characters-card [character]="character" />

      }
    </div>
  </div>
  } @else {
  <rickmorty-feedback-info />
  }
</section>
