@import "mixins.scss";

.characters-list {

  .page-header > .page-header__title {
    display: none;
  }

  &__form {
    width: 100%;

    @include md {
      width: auto;
    }
  }

  &__content {
    width: 100%;
    margin-top: 3rem;

    &-list {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
      gap: 2rem;
    }
  }

  @include md {
    .page-header > .page-header__title {
      display: block;
    }
  }
}
