.characters-card {
  width: 100%;
  background-color: var(--color-core-black);
  border-radius: 0.5rem;
  position: relative;

  &:hover {
    transform: scale(1.03);
    transition: transform 0.3s ease-in-out;

    .characters-card__content > .characters-card__content-name {
      color: var(--color-core-light-blue);
      text-shadow: -1px -1px 0 var(--color-core-light-green),
        1px -1px 0 var(--color-core-light-green),
        -1px 1px 0 var(--color-core-light-green),
        1px 1px 0 var(--color-core-light-green),
        -2px -2px 0 var(--color-core-light-green),
        2px -2px 0 var(--color-core-light-green),
        -2px 2px 0 var(--color-core-light-green),
        2px 2px 0 var(--color-core-light-green),
        -3px -3px 0 var(--color-core-light-green),
        3px -3px 0 var(--color-core-light-green),
        -3px 3px 0 var(--color-core-light-green),
        3px 3px 0 var(--color-core-light-green);
    }
  }

  &__image {
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
  }

  &__content {
    padding: 1rem;

    &-name {
      font-size: 1.5rem;
      font-weight: 400;
      color: var(--color-core-white);
      font-family: "Creepster", "Comic Sans MS", "Comic Sans", cursive;

      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &-status-container {
      display: flex;
      align-items: center;
      gap: 0.5rem;

    }

    &-status {
      margin-top: 0.5rem;
      display: flex;
      align-items: center;
      column-gap: 0.5rem;

      &-info {
        font-size: 1rem;
        font-weight: 400;
        color: var(--color-core-content-low);
        font-family: "Poppins", sans-serif;
        margin-top: 0.5;
        text-transform: capitalize;

        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      &-badge {
        width: 0.8rem;
        height: 0.8rem;
        border-radius: 50%;
        opacity: 0.8;

        box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
        transform: scale(1);
        animation: pulse 2s infinite;

        &--alive {
          background-color: var(--color-core-light-green);
        }

        &--dead {
          background-color: var(--color-core-light-red);
        }

        &--unknown {
          background-color: var(--color-core-content-low);
        }
      }
    }

    &-info {
      margin-top: 1rem;

      &-title {
        font-size: 1rem;
        font-weight: 400;
        color: var(--color-core-content-low);
        font-family: "Poppins", sans-serif;
        text-transform: capitalize;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      &-description {
        font-size: 1rem;
        font-weight: 400;
        color: var(--color-core-white);
        font-family: "Poppins", sans-serif;
        text-transform: capitalize;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }

  &__favorite {
    position: absolute;
    top: 0;
    right: 0;
    height: 3rem;
    width: 3rem;
    z-index: 1;
    border-bottom-left-radius: 3rem;
    border-top-right-radius: 0.5rem;
    background-color: transparent;
    backdrop-filter: blur(1rem);

    &--active {
      backdrop-filter: blur(0);
      background-color: var(--color-core-white);
    }

    &-icon {
      position: absolute;
      top: 20%;
      left: 25%;

      width: 1.5rem;
      height: 1.5rem;
      color: var(--color-core-white);
    }
  }
}
