<div class="characters-card">
  <img
    class="characters-card__image"
    [src]="character.image"
    alt="Imagem do personagem {{ character.name }}"
  />
  <div class="characters-card__content">
    <h2 class="characters-card__content-name">{{ character.name }}</h2>
    <p class="characters-card__content-species">
      {{ character.species }}
    </p>
    <div class="characters-card__content-status">
      <div
        class="characters-card__content-status-badge"
        [ngClass]="{
          'characters-card__content-status-badge--alive':
            character.status === 'Alive',
          'characters-card__content-status-badge--dead':
            character.status === 'Dead',
          'characters-card__content-status-badge--unknown':
            character.status === 'unknown'
        }"
      ></div>
      <p class="characters-card__content-status-info">{{ character.status }}</p>
    </div>
  </div>
  <div
    class="characters-card__favorite"
    [ngClass]="{
    'characters-card__favorite--active': character.isFavorite,
  }"
  >
    <div class="characters-card__favorite-icon">
      <rickmorty-button-icon
        [id]="character.name"
        [icon]="icon"
        [color]="color"
        (clickEvent)="onFavorite()"
      />
    </div>
  </div>
</div>
