@import "./app/styles/scss/fonts.scss";
@import "./app/styles/scss/theme.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: var(--color-core-background);
}
