:root {
  --color-core-background: #1f1f1f;
  --color-core-black: #000000;
  --color-core-white: #ffffff;
  --color-core-content-low: #a4a4a4;
  --color-core-neutral-content: #a4a4a4;
  --color-core-neutral-content-onSource: #0a0a0a;
  --color-core-netraul-border: #3d3d3d;
  --color-core-neutral-surface: #ffffff;
  --color-core-light-blue: #00B5CC;
  --color-core-light-green: #B2DF28;
}
